
@import '../../../node_modules/react-image-gallery/styles/css/image-gallery.css';
@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.trythis {
  border: solid 2px black;
}

.head {
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
  font-family: georgia, script;
  color:brown;
  margin-bottom: 30px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
  text-align: center;
}

.thisPic {
  height: auto; 
  width: auto; 
  max-width: 500px; 
  max-height: 400px;
  border:2px solid white;
  box-shadow: 0 0 10px white;
  border-radius: 10px;
}
