
.root {
  float: right;
  margin: 6px 0 0;
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}

.spacerForOr {
  color: rgba(255, 255, 255, 0.3);
  margin: 6px;
}

.mybutton {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #f9d0ac;
  color: white;
  padding: 8px 18px;
  border-radius: 8px;
  border: 2px solid white;
}

.mybutton:hover {
  background-color: brown; /* Green */
  color: white;
}

.mybutton:active {
  color:white;
}

